body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    /*font-weight: bold;*/
    font-size: larger;
}

.container {
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    justify-content: center;
    height: 100vh;
}
.logout-container {
    display: block;
    margin-bottom: 10px;
}

.comments input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px; /* Adjust spacing as needed */
}

.comments label {
    display: inline-block;
    font-size: small; /* Adjust font size as needed */
}
form {
    width: 300px; /* Możesz dostosować szerokość formularza do własnych potrzeb */
    padding: 20px;
    color: darkblue ;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.errors {
    color: red;
    font-size: small;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color:rebeccapurple;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
